<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bithellstudios.adamrms" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Adam RMS</name>
    <description>
        Rental Management System for Theatre, AV and Broadcast
    </description>
    <author email="hi@jbithell.com" href="https://jbithell.com">
        Bithell Studios
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
